
    <div class="row border worksheet bg-white">
        <div class="col-4 border border-dark">
            <div class="row">
                <div class="col-2">
                    <span class="p-box border border-dark rounded  text-dark"> P </span>
                </div>
                <div class="col-10">

                </div>
            </div>

            <ol>
                <% page.p_statements.each do |p| %>
                    <li class="text-left text-dark">
                        <%=p.statement %>
                    </li>
                <% end %>
            </ol>

        </div>
        <div class="col-8 border border-dark">
            <div class="row">
                <div class="col-2">
                    <span class="i-box border border-dark rounded text-dark "> I </span>
                </div>
                <div class="text-center col-10">
                    <span class=" border text-dark rounded border-dark px-3">P R O U D </span>
                </div>

            </div>

            <ol>
                <%page.p_statements.each do |p| %>
                    <li class="text-left text-dark">
                        <%= p.i_statement %>
                    </li>
                <% end %>
                <% if extension? %>
                    <li class="text-dark text-left"> Extension Task </li>
                <% end %>
            </ol>

        </div>
    </div>
    <div class="row">
    </div>
