<div class ="jumbotron">
     
<h1 class="text-info"> Page Bank </h1>
</div>
<div class="mx-auto print-preview">
<% @marking_pages.each do |page|%>
    <div class="hover-effect">
   
     <%= link_to render(partial: 'page', locals: { page: page}), page %>
     </div>
     <br>
<% end %>
</div>