<div class="text-center print-options">
<button type="button" class="btn btn-primary dont-print" onclick="window.print();return false;">Print</a> </button>
</div>
<div class="print-preview bg-white border mx-auto" >
    <% params[:count].to_i.times do %>
        <%= render partial: "page",locals: {page: @marking_page}%>
    <% end %>
</div>

			
			
			
			