body{

}

ol {
	list-style-position: inside;
}

#worksheet {
	position: relative;

}
#proud,#praise,#improvement, #worksheet {
	border-style: solid;
	border-width: 3px;
}

#proud {
	position: absolute;
	width: 80px;
	padding: 1px;
	text-align: center;
	left: 0px;
		top: 0px;
	left: 0px;
	

}
#praise {
	position: relative;
		top: 0px;
	right: 0px;
	width: 300px;
	padding: 1px;
		text-align: center;

}

#improvement {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 300px;
		padding: 1px;
		text-align: center;

}