
@media print {
    html, body {
      width: 210mm;
      height: 297mm;
      
    }
    .row{
        page-break-inside: avoid;
        font-size: 16pt; 
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    
}

body {
    font-size: 16px;
}

.border {
    border-width: 5px;
    border-color: black;
}

.row {
    margin: 5px;
   
}

.worksheet {
    min-height: 30%;
}

  