 <nav class="navbar dont-print">
      <p class="pull-left">Copyright © Jason Dancocks <%= Date.today.year%>
        </p>

<div class="pull-right">
          
                 <%= link_to 'Contact', marking_pages_path, class: "nav-link"%>
          
      </div>
    </nav>