<!DOCTYPE html>
<html>
  <head>
    <title>MarkingGenerator</title>
    <%= render "layouts/rails_defaults"%>
  </head>

  <body>
    <div class="container-fluid">
  
      <div class ="jumbotron">
        <div class="text-center">
        

          <%= yield %>

        </div>
       </div>
    </div>
  </body>
  <script> window.print(); </script>
</html>
